<!-- <!DOCTYPE html>
<html lang="en">
<head>

  <%- include('./partials/head') %>
       <title>Home Page</title>
       <link rel="stylesheet" href="/css/home.css">
     
</head>
<body>
  
  <%- include('./partials/nav') %>

       <div class="container2 mt-3">
        <div class="grid-container">
          <% blogs.forEach(blog => { %>
            <div class="card2">
              <div class="card-header2">
                <img src="<%= blog?.coverImageURL  %>" alt="" />
              </div>
              <div class="card-body2">
                <a href="/blog/<%= blog._id %>" class="btn btn-primary">Click to Read</a><br><br>
                <h4><%= blog?.title %></h4>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur
                  tenetur distinctio neque?
                </p>
                <div class="user2">
                  <img src="" />
                  <div class="user-info2">
                    <h5> <%= blog.createdBy?.fullname %></h5>
                    <small>2h ago</small>
                  </div>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
      </div>
      
             
            <%- include('./partials/scripts') %>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
  <title>Home Page</title>
  <link rel="stylesheet" href="/css/premiumHome.css">   
</head>
<body>
  <%- include('./partials/nav') %>

  <div class="container">
    <div class="grid-container">
      <% blogs.forEach(blog => { %>
        <div class="card">
          <div class="card__header">
            <img src="<%= blog?.coverImageURL  %>" alt="card__image" class="card__image" width="600">
          </div>
          <div class="card__body">
            <span class="tag tag-blue">Technology</span>
            <h4><%= blog?.title %></h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
          </div>
          <div class="card__footer">
            <div class="user">
              <img src="https://i.pravatar.cc/40?img=1" alt="user__image" class="user__image">
              <div class="user__info">
                <h5>Jane Doe</h5>
                <small>2h ago</small>
              </div> 
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>

  <%- include('./partials/scripts') %>
</body>
</html>
